@font-face {
  font-family: gameFont;
  src: url("/assets/Fonts/gameFont.otf") format("opentype");
}
body {
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  cursor: none;
}

#main {
  display: none;
  width: 1280px;
  height: 601.33px;
  border: 5px solid whitesmoke;
  position: absolute;
  overflow: hidden;
}

#startScreen {
  width: 1280px;
  height: 601.33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid whitesmoke;
  position: absolute;
  overflow: hidden;
  display: none;
}

#startScreen img {
  width: 700px;
  height: 300px;
  /* margin-top: -55px; */
}

#startScreen h1 {
  color: white;
  padding-top: 65px;
  font-family: gameFont;
}

#chooseCharacter {
  width: 1280px;
  height: 601.33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid whitesmoke;
  position: absolute;
  overflow: hidden;
}

#characterContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

#chooseCharacter h1 {
  color: white;
  font-family: gameFont;
}

.characterBoxSpace {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  width: 425.66px;
  height: 263.66px;
}
.characterBoxSpace img {
  width: 160px;
  height: 185px;
}

.characterBoxSpace:nth-child(1) img {
  width: 205px;
}

.characterBoxSpace:nth-child(4) img {
  width: 244px;
  height: 220px;
  margin-top: -42px;
}

#selectedIcon {
  width: 100px;
  top: 0px;
  left: 345px;
  rotate: 338deg;
  z-index: 1;
  position: absolute;
}

#characterDiv {
  position: absolute;
  width: min-content;
  top: 400px;
  left: 50px;
  transform: scaleX(1);
}

#alienDiv {
  position: absolute;
  width: min-content;
  height: auto;
  top: 475px;
  left: 94px;
}

#characterImg {
  width: 181px;
  height: 152px;
}

#alienImg {
  display: block;
  /* min-width: 74px;
  max-height: 200px; */
  width: 80px;
  height: 80px;
}

#characterHitBox {
  position: absolute;
  width: 94px;
  /* min-width: 75px; */
  height: 150px;
  left: 35px;
}

#alienHitBox {
  position: absolute;
  border: 1px solid white;
  width: 46px;
  /* min-width: 37px; */
  height: 76px;
  left: 17px;
}

#scoreDiv {
  position: absolute;
  color: white;
  left: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}

#gameOver {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -204px;
  display: none;
}

#gameOverTitle {
  font: italic bold 60px Arial;
}

#infoGameOver {
  color: white;
}

#cloudsDiv {
  /* visibility: hidden; */
  position: absolute;
  left: 50px;
  width: auto;
}

#cloudHitBox {
  position: absolute;
  border: 1px solid red;
  width: 180px;
  /* min-width: 37px; */
  top: 40px;
  height: 60px;
  left: 12px;
}

#cloudImg {
  display: block;
  width: 200px;
  /* min-width: 150px; */
}

/*# sourceMappingURL=styles.css.map */
