@font-face {
  font-family: gameFont;
  src: url("/assets/Fonts/gameFont.otf") format("opentype");
}
body {
  width: 100vw;
  height: 100vh;
  min-width: 1024px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: black;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

#main {
  display: none;
  width: 1280px;
  height: 601.33px;
  border: 5px solid white;
  position: absolute;
  overflow: hidden;
  background-image: linear-gradient(172.6deg, rgb(21, 13, 15) 17.6%, rgb(84, 84, 84) 98.6%);
}

#startScreen {
  display: none;
  width: 1280px;
  height: 601.33px;
  border: 5px solid white;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#startScreen img {
  width: 700px;
  height: 300px;
  animation-delay: 0.6s;
}
#startScreen h1 {
  color: white;
  padding-top: 65px;
  font-family: gameFont;
  --animate-delay: 1.5s;
}

#chooseCharacter {
  display: none;
  width: 1281px;
  height: 601.33px;
  border: 5px solid white;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
#chooseCharacter #aura {
  position: absolute;
  opacity: 0.6;
  top: -12px;
  left: 56px;
  width: 305px;
  height: 245px;
  z-index: -1;
}
#chooseCharacter h1 {
  color: white;
  font-family: gameFont;
}

#selectedImageIcon {
  position: absolute;
  display: none;
}

#characterContainer {
  width: 100%;
  margin-top: 3px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.characterBoxSpace {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  width: 425.66px;
  height: 263.66px;
}
.characterBoxSpace img {
  width: 160px;
  height: 185px;
  animation-delay: 1.1s;
}

.characterBoxSpace:nth-child(1) img {
  width: 205px;
}

.characterBoxSpace:nth-child(4) img {
  width: 244px;
  height: 220px;
  margin-top: -42px;
}

#selectedIcon {
  width: 100px;
  top: 0px;
  left: 345px;
  rotate: 338deg;
  z-index: 0;
  position: absolute;
}

#characterDiv {
  position: absolute;
  width: min-content;
  top: 400px;
  left: 50px;
  transform: scaleX(1);
  z-index: 1;
}
#characterDiv #characterImg {
  width: 181px;
  height: 152px;
}
#characterDiv #characterHitBox {
  position: absolute;
  width: 94px;
  height: 150px;
  left: 35px;
}

#alienDiv {
  position: absolute;
  width: min-content;
  height: auto;
  top: 475px;
  left: 1290px;
  z-index: 1;
}
#alienDiv #alienImg {
  display: block;
  width: 80px;
  height: 80px;
}
#alienDiv #alienHitBox {
  position: absolute;
  width: 46px;
  height: 76px;
  left: 17px;
}

#cloudsDiv {
  position: absolute;
  left: 50px;
  width: auto;
}
#cloudsDiv #cloudHitBox {
  position: absolute;
  width: 180px;
  top: 40px;
  height: 60px;
  left: 12px;
}
#cloudsDiv #cloudImg {
  display: block;
  width: 200px;
}

#scoreDiv {
  position: absolute;
  color: white;
  left: 3vw;
  font-family: gameFont;
  z-index: 1;
}

#gameOverScreen {
  display: none;
  width: 1280px;
  height: 601.33px;
  border: 5px solid white;
  position: absolute;
  overflow: hidden;
}

#gameOver {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -210px;
  font: 30px gameFont;
  letter-spacing: 20px;
}
#gameOver #infoGameOver {
  font-size: 30px;
  letter-spacing: 0px;
}

#buttonsGameOver {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 105px 0px 0px 40px;
}
#buttonsGameOver .gameOverOptions {
  width: 82px;
  height: 84px;
}
#buttonsGameOver #playAgain {
  transform: rotate(60deg);
}

.gameOverOptions:nth-child(1):hover {
  animation: push 1s infinite linear;
}

.gameOverOptions:nth-child(2):hover {
  animation: spin 2s infinite linear;
}

.gameOverOptions:nth-child(3):hover {
  animation: pulse 0.3s infinite linear alternate;
}

#carrousselContainer {
  display: none;
  width: 1280px;
  height: 601.33px;
  border: 0px;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow: visible;
  border: 0px;
  z-index: 0;
  left: 0px;
}
#carrousselContainer img {
  min-width: 1279px;
  max-width: 1230px;
  min-height: 598px;
  max-height: 586px;
}
#carrousselContainer .wormhole {
  position: absolute;
  max-width: 100px;
  min-width: 323px;
  max-height: 134px;
  min-height: 168px;
  left: -170px;
  z-index: 20;
  filter: blur(2px);
}

@keyframes pulse {
  to {
    transform: scale(1.1);
  }
}
@keyframes spin {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(-300deg);
  }
}
@keyframes push {
  50% {
    transform: scale(0.95);
  }
}
@keyframes slideInDownAnimation {
  0% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
